---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import ProjectList from '../components/ProjectList.astro';
import SocialMediaLinks from '../components/SocialMediaLinks.astro';
---

<Layout title="Home of Detta.dev">
    <div class="homepage">
        <header>
            <Logo />
            <h1>Detta.dev</h1>
            <p>Full-stack developer, modder</p>
            <SocialMediaLinks />
        </header>
        <main>
            <ProjectList />
            <p>...and more!</p>
        </main>
    </div>
</Layout>

<style>
    .homepage {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    header {
        h1 {
            font-size: 3rem;
            margin: 0;
        }

        p {
            font-size: 1rem;
            margin-bottom: 24px;
            margin-top: 0;
        }
        margin-bottom: 1em;
    }
</style>
