<p class="main">
    <a rel="noopener" href="https://fediring.net/previous?host=detta.dev">&larr;</a>
    <a rel="noopener" href="https://fediring.net/" class="name">Fediring</a>
    <a rel="noopener" href="https://fediring.net/next?host=detta.dev">&rarr;</a>
</p>
<p class="random">
    <a rel="noopener" href="https://fediring.net/random">Random</a>
</p>

<style>
    .name {
        font-size: 1.2em;
    }
    .main {
        margin-bottom: 0.25em;
    }
    .random {
        margin-top: 0;
        margin-bottom: 1em;
    }
</style>
