<footer>
    <span>Punished Bernadetta with ❤️</span>
    <span class="links">
        <a
            href="https://github.com/suhankins/detta.dev"
            target="_blank"
            target="_blank"
            rel="noopener">Github</a
        >
    </span>
</footer>

<style>
    footer {
        margin-top: 2em;
        display: flex;
    }
    .links {
        margin-left: auto;
    }
</style>