---
import GithubPath, { viewbox as githubViewbox } from './GithubPath.astro';
import MwsPath, { viewbox as mwsViewbox } from './MwsPath.astro';

interface Props {
    type: 'github' | 'modworkshop';
    url: string;
    size?: number;
}

const { url, size, type } = Astro.props;
const iconSize = `${size ?? 32}px`;
const Icon = type === 'github' ? GithubPath : MwsPath;
const viewbox = type === 'github' ? githubViewbox : mwsViewbox;
---

<a href={url} target="_blank" rel="noopener" aria-label="Project on GitHub">
    <svg
        width={iconSize}
        height={iconSize}
        viewBox={viewbox}
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
    >
        <defs>
            <linearGradient id="gradient" x2="0" y2="1">
                <stop offset="0%" stop-color="var(--text-color)"></stop>
                <stop offset="100%" stop-color="var(--tag-background-1)"></stop>
            </linearGradient>
        </defs>
        <Icon />
    </svg>
</a>

<style>
    a {
        margin-left: auto;
        position: relative;
        width: 32px;
        bottom: 6px;
        text-decoration: none;
    }
    a svg {
        fill: #fff;
    }
    a:is(:hover, a:active, a:focus) svg {
        fill: url(#gradient);
    }
</style>
