---
import ProjectCard from './ProjectCard.astro';
import AgentImage from './screenshots/agent.png';
import DucklakeImage from './screenshots/ducklake.png';
import SpotifyImage from './screenshots/spotify.png';
import RaidImage from './screenshots/raid.png';
---

<div>
    <ProjectCard
        title="Agent Up In The Sky"
        tags={['Game development', 'Godot']}
        image={AgentImage}
        links={[
            {
                type: 'itch',
                url: 'https://punishedbernadetta.itch.io/agent-up-in-the-sky',
            },
            {
                type: 'blog',
                url: '/blog/up-in-the-sky'
            },
            {
                type: 'github',
                url: 'https://github.com/suhankins/up-in-the-sky',
            },
        ]}
        >Twin stick shooter where you are a secret service agent on a mission to
        stop terrorist who have hijacked a plane.</ProjectCard
    >
    <ProjectCard
        title="Ducklake"
        tags={['Game development', 'PWA', 'Three.js', 'TypeScript']}
        image={DucklakeImage}
        links={[
            { type: 'website', url: 'https://ducklake.detta.dev/' },
            { type: 'github', url: 'https://github.com/suhankins/ducklake' },
        ]}
        >Lake full of ducks you can feed, made with three.js and installable as
        a PWA.</ProjectCard
    >
    <ProjectCard
        title="Get Spotify Song Name"
        tags={['Web development', 'PWA', 'Astro', 'TypeScript']}
        image={SpotifyImage}
        links={[
            {
                type: 'website',
                url: 'https://spotify.detta.dev/',
            },
            {
                type: 'github',
                url: 'https://github.com/suhankins/get-spotify-song-name',
            },
        ]}
        >Gets name of the song and artist from Spotify URL, so you can look your
        favorite song up.</ProjectCard
    >
    <ProjectCard
        title="RAID: World War II Files"
        tags={['Web development', 'NextJS', 'Steam API', 'TypeScript']}
        image={RaidImage}
        links={[
            {
                type: 'website',
                url: 'https://raid.detta.dev/',
            },
            {
                type: 'github',
                url: 'https://github.com/suhankins/raid-ww2-files',
            },
        ]}
    >
        Website that displays your statistics in <a
            href="https://store.steampowered.com/app/414740/RAID_World_War_II/"
            target="_blank"
            rel="noopener">RAID: World War II</a
        >, made with NextJS.</ProjectCard
    >
    <ProjectCard
        title="keycap_config decoder"
        tags={['Hacking', 'Deno', 'TypeScript']}
        links={[
            {
                type: 'github',
                url: 'https://github.com/suhankins/keycap_config_decoder',
            },
        ]}
    >
        Tool to decode and encode keycap_config.xml file, found in a bunch of
        Sega games
    </ProjectCard>
    <ProjectCard
        title="Daily Bounty"
        tags={['Modding', 'Lua']}
        links={[
            { type: 'modworkshop', url: 'https://modworkshop.net/mod/38718' },
            { type: 'blog', url: '/blog/daily-raid' },
            { type: 'github', url: 'https://github.com/suhankins/Daily-raid' },
        ]}
    >
        Adds Daily Bounties to RAID: World War II, combination of a random Raid and random Challenge
        Card that will pay gold bars on completion.
    </ProjectCard>
    <ProjectCard
        title="Expanded Communications Wheel"
        tags={['Modding', 'Lua']}
        links={[
            { type: 'modworkshop', url: 'https://modworkshop.net/mod/50106' },
            {
                type: 'github',
                url: 'https://github.com/suhankins/Expanded-communications-wheel',
            },
        ]}
    >
        RAID: World War II mod adding more options to in-game communications
        wheel.
    </ProjectCard>
    <ProjectCard
        title="PD2Builder loader"
        tags={['Modding', 'Lua']}
        links={[
            {
                type: 'modworkshop',
                url: 'https://modworkshop.net/mod/33534',
            },
            {
                type: 'github',
                url: 'https://github.com/suhankins/pd2builder-loader',
            },
        ]}
    >
        Mod for PAYDAY 2 that allows for easy importing and exporting of
       Builder formated builds.
    </ProjectCard>
    <ProjectCard
        title="Argos III Display"
        tags={['Modding', 'Lua']}
        links={[
            { type: 'modworkshop', url: 'https://modworkshop.net/mod/36496' },
        ]}
    >
        Working ammo counter for Argos III shotgun's display in PAYDAY 2.
    </ProjectCard>
    <ProjectCard
        title="C4"
        tags={['Modding', 'Lua']}
        links={[
            { type: 'steam', url: 'https://steamcommunity.com/sharedfiles/filedetails/?id=2415643616' },
            { type: 'github', url: 'https://github.com/suhankins/c4' }
        ]}
    >
        Remote detonated explosives for Teardown. One of the most popular mods for Teardown on Steam!
    </ProjectCard>
    <ProjectCard
        title="rcbanks.net"
        tags={['Web development', 'Astro']}
        links={[
            { type: 'website', url: 'http://rcbanks.net/' },
            { type: 'github', url: 'https://github.com/suhankins/rcbanks' },
        ]}
        >Recreation of a website seen in one of the cutscenes in
        <a
            href="https://store.steampowered.com/app/2933080/Crime_Boss_Rockay_City/"
            target="_blank"
            rel="noopener">Crime Boss: Rockay City</a
        >.
    </ProjectCard>
</div>

<style>
    div {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
</style>
