---
import ProjectCard from './ProjectCard.astro';
---

<div>
    <ProjectCard
        title="Agent Up In The Sky"
        url="https://punishedbernadetta.itch.io/agent-up-in-the-sky"
        tags={['Game development', 'Godot']}
        imageName="agent"
        links={[{type: 'github', url: 'https://github.com/suhankins/up-in-the-sky'}]}
        >Twin stick shooter where you are a secret service agent on a mission to stop terrorist
        who have hijacked a plane.</ProjectCard
    >
    <ProjectCard
        title="Ducklake"
        url="https://ducklake.detta.dev/"
        tags={['Game development', 'PWA', 'Three.js', 'TypeScript']}
        imageName="ducklake"
        links={[{type: 'github', url: 'https://github.com/suhankins/ducklake'}]}
        >Lake full of ducks you can feed, made with three.js and installable as
        a PWA.</ProjectCard
    >
    <ProjectCard
        title="Get Spotify Song Name"
        url="https://spotify.detta.dev/"
        tags={['Web development', 'PWA', 'Astro', 'TypeScript']}
        imageName="spotify"
        links={[{type: 'github', url: 'https://github.com/suhankins/get-spotify-song-name'}]}
        >Gets name of the song and artist from Spotify URL, so you can look your
        favorite song up.</ProjectCard
    >
    <ProjectCard
        title="RAID: World War II Files"
        url="https://raid.detta.dev/"
        tags={['Web development', 'NextJS', 'Steam API', 'TypeScript']}
        imageName="raid"
        links={[{type: 'github', url: 'https://github.com/suhankins/raid-ww2-files'}]}
    >
        Website that displays your statistics in <a
            href="https://store.steampowered.com/app/414740/RAID_World_War_II/"
            target="_blank" rel="noopener"
            >RAID: World War II</a
        >, made with NextJS.</ProjectCard
    >
    <ProjectCard
        title="keycap_config decoder"
        url="https://github.com/suhankins/keycap_config_decoder"
        tags={['Decompilation', 'Deno', 'TypeScript']}
        links={[{type: 'github', url: 'https://github.com/suhankins/Daily-raid'}]}
    >
        Tool to decode and encode keycap_config.xml file, found in a bunch of Sega games 
    </ProjectCard>
    <ProjectCard
        title="Daily Bounty"
        url="https://modworkshop.net/mod/38718"
        tags={['Modding RAID:WW2', 'Lua']}
        links={[{type: 'github', url: 'https://github.com/suhankins/Daily-raid'}]}
    >
        Adds Daily Bounties, combination of a random Raid and random Challenge Card that will pay gold bars on completion.
    </ProjectCard>
    <ProjectCard
        title="PD2Builder loader"
        url="https://modworkshop.net/mod/33534"
        tags={['Modding PD2', 'Lua']}
        links={[{type: 'github', url: 'https://github.com/suhankins/pd2builder-loader'}]}
    >
        Mod for PAYDAY 2 that allows for easy importing and exporting of PD2Builder formated builds. 
    </ProjectCard>
    <ProjectCard
        title="Argos III Display"
        url="https://modworkshop.net/mod/36496"
        tags={['Modding PD2', 'Lua']}
    >
        Working ammo counter for Argos III shotgun's display.
    </ProjectCard>
    <ProjectCard
        title="rcbanks.net"
        url="http://rcbanks.net/"
        tags={['Web development', 'Astro']}
        links={[{type: 'github', url: 'https://github.com/suhankins/rcbanks'}]}
        >Recreation of a website seen in one of the cutscenes in
        <a
            href="https://store.steampowered.com/app/2933080/Crime_Boss_Rockay_City/"
            target="_blank" rel="noopener"
        >Crime Boss: Rockay City</a>.
    </ProjectCard>
    <ProjectCard
        title="Hoolidetta.com"
        url="https://hoolidetta.com/"
        tags={['Web development', 'Astro']}
        links={[{type: 'github', url: 'https://github.com/suhankins/hoolidetta'}]}
    >
        Website for me and my friend Hooligan's modding collective, specializing in fake cheat mods for PAYDAY 2.
    </ProjectCard>
</div>

<style>
    div {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
</style>
