---
import ProjectLink from './ProjectLink.astro';
---

<div>
<ProjectLink type="github" url="https://github.com/suhankins" size={48} />
<ProjectLink type="modworkshop" url="https://modworkshop.net/user/punishedbernadetta" size={48} />
<ProjectLink type="blog" url="/blog" size={48} />
</div>

<style>
    div {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
</style>
