---
interface Props {
    tags: string[];
}

const { tags } = Astro.props;
---

<div>
    <div class="accordion">
        <ul>
            {tags.toSpliced(0, 1).map((tag) => <li class="tag">{tag}</li>)}
        </ul>
    </div>
    <button class="tag opener" aria-label="Open tags" class="opener">{tags[0]}</button>
</div>

<style>
    div {
        z-index: 3;
        position: relative;
        display: inline-block;
    }
    div:not(:is(:hover, :active, :focus, :has(.opener:is(:hover, :active, :focus)))) .accordion {
        grid-template-rows: 0fr;
    }
    .tag {
        background-color: var(--tag-background-1);
        display: inline;
        padding: 2px 8px 2px 20px;
        border-radius: 99999999px;
        position: relative;
        white-space: nowrap;
        text-shadow: 0px 0px 5px #000;
        color: var(--text-color);
        border: none;
        font-size: 16px;
    }
    .tag:before {
        content: '●';
        position: absolute;
        left: 6px;
        top: 0;
    }
    .opener:before {
        content: '▶';
        font-size: 0.9em;
        top: 3px;
        transition: rotate 0.25s, left 0.25s;
    }
    div:is(:hover, :active, :focus, :has(.opener:is(:hover, :active, :focus))) .opener:before {
        rotate: -90deg;
        left: 4px;
    }
    .accordion {
        position: absolute;
        bottom: calc(1em + 3px);
        grid-template-rows: 1fr;
        transition: 250ms grid-template-rows ease;
        display: grid;
        overflow: hidden;
        margin: auto 0 5px 0;
    }
    ul {
        padding: 0;
        display: grid;
        gap: 2px;
        margin: 0 0 4px 0;
        overflow: hidden;
    }
</style>
