---
interface Props {
    tags: string[];
}

const { tags } = Astro.props;
---

<div class="dropdown-container">
    <div class="accordion">
        <ul>
            {tags.toSpliced(0, 1).map((tag) => <li class="tag">{tag}</li>)}
        </ul>
    </div>
    <button class="tag opener" aria-label="Open tags" class="opener"
        >{tags[0]}</button
    >
</div>

<style>
    .dropdown-container {
        z-index: 3;
        position: relative;
        display: inline-block;
    }
    div:not(:is(:hover, :has(.opener:is(:active, :focus)))) .accordion {
        grid-template-rows: 0fr;
    }
    .opener {
        appearance: none;
    }
    .opener:before {
        content: '▶';
        font-size: 0.9em;
        top: 2px;
        left: 0.3em;
        transition: rotate 0.25s;
    }
    div:is(:hover, :has(.opener:is(:active, :focus))) .opener:before {
        rotate: -90deg;
    }
    .accordion {
        position: absolute;
        bottom: calc(1em + 3px);
        grid-template-rows: 1fr;
        transition: 250ms grid-template-rows ease;
        display: grid;
        overflow: hidden;
        margin: auto 0 5px 0;
    }
    ul {
        padding: 0;
        display: grid;
        gap: 2px;
        margin: 0 0 4px 0;
        overflow: hidden;
    }
    @media (prefers-reduced-motion) {
        .accordion {
            transition: none;
        }
    }
</style>
