---
interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="me" href="https://tech.lgbt/@punishedbernadetta" />
        {description ? <meta name="description" content={description} /> : ''}
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="preload"
            href="/fonts/firaSans/FiraSans-Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            href="/fonts/firaSans/FiraSans-Bold.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            href="/fonts/firaSans/FiraSans-Italic.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />

        <link
            rel="preload"
            href="/fonts/firaSans/FiraSans-BoldItalic.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <title>{title}</title>
    </head>
    <body>
        <div class="container">
            <slot />
        </div>
    </body>
</html>
<style is:global>
    @font-face {
        font-family: 'Fira Sans';
        src:
            local('Fira Sans'),
            url('/fonts/firaSans/FiraSans-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Fira Sans';
        src:
            local('Fira Sans'),
            url('/fonts/firaSans/FiraSans-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Fira Sans';
        src:
            local('Fira Sans'),
            url('/fonts/firaSans/FiraSans-Italic.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'Fira Sans';
        src:
            local('Fira Sans'),
            url('/fonts/firaSans/FiraSans-BoldItalic.woff2') format('woff2');
        font-weight: 700;
        font-style: italic;
        font-display: swap;
    }
    :root {
        --font-family: 'Fira Sans', 'Segoe UI', Tahoma, Geneva, Verdana,
            sans-serif;

        --text-color: #e6edf3;
        --link-color: #ff94cb;
        --footnote-color: #d8e2e8;
        --text-shadow: 0px 0px 5px #000000;

        --icon-color: var(--text-color);
        --icon-hightlight-top: var(--text-color);
        --icon-hightlight-bottom: var(--tag-background-1);

        --background-0: #15101c;
        --background-1: #241b2f;
        --background-2: #372947;

        --tag-background-1: #c05c8f;

        --project-card-shadow: none;
        --logo-shadow: none;
    }
    @media (prefers-color-scheme: light) {
        :root {
            --text-color: #41333c;
            --link-color: #b0005b;
            --footnote-color: #4d4048;
            --text-shadow: none;

            --icon-color: var(--text-color);
            --icon-hightlight-top: var(--tag-background-1);
            --icon-hightlight-bottom: #ff0080;

            --background-0: #dec6e7;
            --background-1: #f4eaff;
            --background-2: #faf4ff;

            --tag-background-1: #ffa4d3;

            --project-card-shadow: #00000033 2px 2px 10px;
            --logo-shadow: 2px 2px 10px #00000022;
        }
    }
    html {
        font-family: var(--font-family);
        color: var(--text-color);
        background-color: var(--background-0);
        line-height: 1.2;
    }
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    a {
        color: var(--link-color);
    }
    a:visited {
        color: var(--link-color);
    }
    .container {
        background-color: var(--background-1);
        max-width: 95ch;
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem;
        border-radius: 20px;
    }
    .tag {
        background-color: var(--tag-background-1);
        display: inline;
        padding: 2px 0.6em 2px 1.25em;
        border-radius: 99999999px;
        position: relative;
        white-space: nowrap;
        text-shadow: var(--text-shadow);
        color: var(--text-color);
        border: none;
        font-size: 1em;
    }
    .tag:before {
        content: '●';
        position: absolute;
        font-size: 0.7em;
        top: 50%;
        left: 0.8em;
        transform: translate(-50%, -50%);
    }
    button {
        font-family: var(--font-family);
    }
    code {
        background-color: #57183c;
        border-radius: 5px;
        padding: 0.2em;
        color: #ffafd4;
    }
</style>
