---
interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="me" href="https://tech.lgbt/@punishedbernadetta" />
        {description ? <meta name="description" content={description} /> : ''}
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="container">
            <slot />
        </div>
    </body>
</html>
<style is:global>
    :root {
        --text-color: #e6edf3;
        --link-color: #ff0084;
        --footnote-color: #d8e2e8;
        --text-shadow: 0px 0px 5px #000000;

        --icon-color: var(--text-color);
        --icon-hightlight-top: var(--text-color);
        --icon-hightlight-bottom: var(--tag-background-1);

        --background-0: #15101c;
        --background-1: #241b2f;
        --background-2: #372947;

        --tag-background-1: #e874b0;
    }
    @media (prefers-color-scheme: light) {
        :root {
            --text-color: #41333c;
            --link-color: #b0005b;
            --footnote-color: #4d4048;
            --text-shadow: none;

            --icon-color: var(--text-color);
            --icon-hightlight-top: var(--tag-background-1);
            --icon-hightlight-bottom: #ff0080;

            --background-0: #dec6e7;
            --background-1: #f4eaff;
            --background-2: #faf4ff;

            --tag-background-1: #ffa4d3;
        }
    }
    html {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--text-color);
        background-color: var(--background-0);
    }
    body {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    a {
        color: var(--link-color);
    }
    a:visited {
        color: var(--link-color);
    }
    .container {
        background-color: var(--background-1);
        max-width: 90ch;
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem;
        border-radius: 20px;
    }
    .tag {
        background-color: var(--tag-background-1);
        display: inline;
        padding: 2px 8px 2px 20px;
        border-radius: 99999999px;
        position: relative;
        white-space: nowrap;
        text-shadow: var(--text-shadow);
        color: var(--text-color);
        border: none;
        font-size: 1em;
    }
    .tag:before {
        content: '●';
        position: absolute;
        left: 6px;
        top: 0;
    }
</style>
